<!--
  -- 2021-10-28 - added site.madeCaption
  -->
<p>{{ site.madeCaption | default("Made with") }} <a href="https://myonlinecookbook.xyz/" target="_blank" rel="noopener">My Online Cookbook</a></p>
<p>© {{ site.author }} {% year %}</p>
